.Ekart
{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    margin-top: 30px;
    background-color: cadetblue;
    padding: 20px;
}

ul.prod
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding: 5px;
    border: 2px solid beige;
    background-color: rgb(204, 223, 223);
    font-family: 'math';
    height: 630px;
    display: grid;
}
ul.prod>*
{
    margin: 5px;
}

@media screen and (max-width:800px) {
    .Ekart
    {
        grid-template-columns: 100%;
    }       
}


.cart-block
{
    margin-top: 30px;
    padding: 0;
}