body
{
    font-family: 'Times New Roman', Times, serif;
}
.full-width
{
   
    height: 400px;
}
section
{
    margin: 5%;
}
li{
    list-style: none;
}

.cards
{
    display: grid;
    grid-template-columns: auto auto ;
    grid-gap: 10px;
    margin: 2%;
}

.cards .card 
{
    height: auto;
    padding: 5%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}




/* media Query from 800px */
@media screen and (max-width :800px) {
    .cards
    {
        grid-template-columns: auto;
    } 
  
}