footer
{
    background-color: black;
    color: white;
}

.footer-bottom
{
    display: flex;
    flex-direction: row;
    background-color: lightslategrey;
}
.footer-bottom div{
    flex-grow: 1;
}

.footer-top
{
   display: grid;
   grid-template-columns: 34% 33% 33%;
}
.cmp-info
{
    display: flex;
    flex-direction: column;
}
.links a
{
    margin-left: 20px;
    text-decoration: none;
    color: white;
}
.hov:hover
{
    color: rgb(219, 210, 33);
    cursor: pointer;
}

.social-links
{
    display: flex;
    flex-direction: column;
}
.social-links svg{
    flex-grow: 1;
    font-size: 20px;
    
}

h4{

    color: aquamarine;
}


@media screen and (max-width:960px) {
 
    .footer-bottom
    {
        display: flex;
        flex-direction: column;
    }
    .footer-top
    {
        grid-template-columns: 50% 50%;
    }
}